body {
  width: 100vw;
  height: 200vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 200vh;
  background-color: aquamarine;
  perspective: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.boxOne,
.boxTwo,
.boxThree {
  width: 20%;
  height: 20%;
  background-color: aliceblue;

}

.boxOne:hover {
  transform:  rotateY(-360deg);
  background-color: blueviolet;
  transition: 15s linear;
}

.boxTwo:hover {
  translate: 40px 0px 45px;
  background-color: blue;
  border: 2px dashed black;
}

.boxThree {
  position: relative;

  top: 30%;
  animation: ease-in-out slider 10s infinite alternate-reverse;
  display: block;
}
.boxFour {
  position: relative;
  width: 10%;
  top: 30%;
  animation: ease-in-out slide 10s infinite;
  display: block;
}

@keyframes slider {
  0% {
    left: 0%;
  }

  40% {
    transform: rotate(90deg) translate(0, 40px);
    background-color: aqua;
  }
  50% {
    transform: rotate(180deg);
    background-color: crimson;
  }

  60% {
    transform: rotate(360deg);
    background-color: darkgreen;
  }

  100% {
    left: 100%;
    background-color: chocolate;
  }
}

.boxFive {
  background-color: bisque;
  display: block;
  position: relative;
  height: 20%;
  width: 30%;
  animation: linear move 5s infinite;
}

@keyframes move {
  from {
    background-color: blue;
    transform: rotate(35deg) translate(0, 0);
  }

  to {
    background-color: coral;
    transform: rotate(165deg) translate(20px, 20px);
  }
}

.boxSix {
  background-color: bisque;
  display: block;
  position: relative;
  height: 20%;
  width: 30%;
  animation: ease-in slide 10s infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }

  25% {
    transform: translate(0px, 100px);
    background-color: chocolate;
    box-shadow: 2px 1px 2px red;
  }

  100% {
    left: 100%;
  }
}
.boxSeven {
  background-color: bisque;
  display: block;
  position: relative;
  height: 20%;
  width: 30%;
  animation: ease-in slide 10s infinite;
  top: 30%;
}
